@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
body {
  max-width: 2200px;
  margin: 0 auto;
}
.part1 {
  background: url(images/gamingbg.webp);
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100% 170%;
  background-position: center;
  margin-bottom: 15px;
}
.navbar {
  margin-bottom: 30px;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar .logo img {
  width: 80px;
}
.navbar .fas img {
  width: 300px;
  height: 45px;
}
.navbar .menu-list {
  display: flex;
  align-items: center;
}
.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo a {
  font-size: 23px;
  font-weight: 600;
  margin-left: 15px;
}

.menu-list li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: all 0.1s ease;
}
.menu-list li:last-child a {
  margin-right: 100px;
}
.menu-list > li > a:hover {
  scale: 1.05;
  border-bottom: 2px solid darkmagenta;
}

.icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.categories h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}
.games-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
  gap: 55px;
}

.category button {
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  background: rgb(240, 240, 240);
  text-align: center;
  border-radius: 40px;
  margin-bottom: 14px;
  transition: all 0.5s ease;
}
.category button:hover {
  background: linear-gradient(to right, darkblue, darkmagenta);
  cursor: pointer;
}
.category button:hover span {
  color: white;
}

.category h2 {
  color: white;
  height: 50px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.4px;
}
.category span {
  color: black;
}
.games-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  padding-top: 35px;
}
.games-heading h1 {
  border: 1px solid black;
  background: linear-gradient(to right, darkblue, purple);
  color: white;
  padding: 16px;
  width: 180px;
  font-size: 20px;
  text-align: center;
  border-radius: 40px;
}
.gotop {
  padding: 6px 20px;
  width: 40px;
  font-size: 27px;
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 20px;
  left: 22px;
  cursor: pointer;
}
.gameslist {
  background-color: rgb(243, 243, 243);
  border: 3px solid black;
  padding: 50px 0px;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.all-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-content: center;
}
.list {
  padding: 22px;

  width: 280px;
}
.list img {
  width: 240px;
  height: 230px;
}
.list h1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.footer {
  background-image: url(images/gamingbg.webp);
  background-size: 100% 130%;
  padding: 30px 30px 10px 30px;
  margin-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  justify-content: space-between;
}
.footer-col {
  width: 25%;
  padding: 0px 15px;
  color: #bbbbbb;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: purple;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  line-height: 30px;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.logo {
  display: flex;
}
.footer .logo {
  gap: 10px;
}
.footer .logo img {
  border-radius: 50%;
}
.p {
  color: #bbbbbb;
  text-align: center;
}
@media (max-width: 1429px) {
  .gotop {
    left: 1%;
  }
}
@media (max-width: 1150px) {
  .gotop {
    left: 10px;
  }
}
@media (max-width: 1029px) {
  .gotop {
    left: 3px;
  }
  body.disabledScroll {
    overflow: hidden;
  }
  .navbar {
    margin-right: 5px;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.5s ease;
    height: 300px;
    width: 35%;
    background: #222;

    display: block;
    text-align: center;
    z-index: 10;
    padding: 5px;
    border-radius: 25px 0 25px 25px;
  }
  .menu-list > li > a:hover {
    border: none;
    color: purple;
  }
  .navbar .menu-list.active {
    right: 0%;
  }
  .navbar .menu-list li:nth-child(2) {
    margin-top: 50px;
  }
  .navbar .menu-list li {
    margin-top: 26.7px;
  }
  .navbar .menu-list li a {
    color: white;
    font-size: 23px;
  }

  .menu-list li:last-child a {
    margin-right: 0px;
  }

  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .icon.cancel-btn {
    color: whitesmoke;
  }
}

@media (max-width: 845px) {
  .paragraphs p {
    font-size: 20px;
    width: 80%;
  }
  .games-category {
    margin-left: 30px;
  }
  .gameslist {
    width: 80%;
  }
  .gotop {
    left: 12px;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 30%;
    margin-bottom: 30px;
  }
  .row {
    margin-bottom: 10px;
  }
  .category button {
    padding: 13px;
  }
}
@media (max-width: 730px) {
  .gameslist {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .list img {
    width: 160px;
    height: 140px;
    margin-bottom: 15px;
  }
  .list {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 40%;
  }
  .list h1 {
    font-size: 20px;
  }
}
@media (max-width: 660px) {
  .navbar {
    margin-bottom: 60px;
  }
  .paragraphs p {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .paragraphs p {
    width: 90%;
  }

  .footer-col {
    width: 100%;
  }
  .list {
    padding: 8px;
  }
}
@media (max-width: 550px) {
  .gameslist {
    width: 92%;
    border-radius: 20px;
  }
}
@media (max-width: 520px) {
  .games-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .categories h1 {
    margin-bottom: 40px;
  }
  .category h2 {
    transform: translateY(12%);
  }
  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .category button {
    width: 200px;
  }
  .part1 {
    height: 670px;
  }
}
@media (max-width: 488px) {
  .navbar .logo a {
    margin-left: 0px;
  }
}
@media (max-width: 468px) {
  .list h1 {
    font-size: 17px;
  }
}
@media (max-width: 450px) {
  .navbar .fas img {
    width: 220px;
  }
  .gotop {
    left: 4px;
  }
}
@media (max-width: 520px) {
  .navbar .menu-list {
    width: 55%;
  }
}
@media (max-width: 408px) {
  .list h1 {
    font-size: 14px;
  }
  .list img {
    width: 140px;
    height: 120px;
  }
}
@media (max-width: 474px) {
  .p {
    font-size: 15px;
  }
}
@media (max-width: 424px) {
  .p {
    width: 100%;
  }
  .footer {
    padding: 30px 0px 0px 0px;
  }
}
